* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MidnightMemories";
  src: local("KGMidnightMemories"), url("./assets/fonts/KGMidnightMemories.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"), url("./assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
}